
//
// VARIABLES
//

// Colors
$gold: darkgoldenrod;
$blue: red;

// Grays
$black: black;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: white;

// Font stacks
$alice: "Radio Canada", Tahoma, Arial, sans-serif;
$radiocan: Alice, Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
